@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@600&display=swap');

body
{
    background-color: rgb(253, 233, 197);
}   
/*en tête*/
.header
{
    margin-top: 1%;
    justify-content: center;
    border: 8px double rgb(201, 115, 50);
    border-radius: 4em;
    display: flex;
    box-shadow: 10px 15px 10px -5px rgba(0, 0, 0, 0.363);
}

.nav
{
    align-items: center;
}

.ul
{
    display: flex;
}

.li
{
    list-style-type: none;
    font-size: 30px;
    padding: 20px;
    text-shadow: 1px 2px black;
    font-family: 'Edu QLD Beginner', cursive;
}
a:link
{
    text-decoration: none;
    color:rgb(201, 115, 50);
}
a:hover
{
    text-decoration: underline;
}
a:visited
{
    color:rgb(201, 115, 50);
}
/*Body*/
.img
{
    height: 300px;
    width: 100%;
}
.reserv
{
    position: absolute;
    padding: 1% 0;
    background-color: rgba(255, 255, 255, 0.61);
    width: 40%;
    text-align: center;
    margin: 6% 30%;
}

h1
{
    font-size: 30px;
    padding: 20px;
    text-shadow: 1px 2px black;
    font-family: 'Edu QLD Beginner', cursive;
    text-align: center;    
    color:rgb(201, 115, 50);
}
#chambres
{
    border: 8px double rgb(201, 115, 50);
    border-radius: 4em;
    position: absolute;
    width: 60%;
    height: 350px;
    margin-left: 20%;
}

#h1b
{
    margin-top: 400px;
    font-size: 30px;
    padding: 20px;
    text-shadow: 1px 2px black;
    font-family: 'Edu QLD Beginner', cursive;
    text-align: center;    
    color:rgb(201, 115, 50);
}
#chambred
{
    border: 8px double rgb(201, 115, 50);
    border-radius: 4em;
    position: absolute;
    width: 60%;
    height: 350px;
    margin-left: 20%;
}


/** responsing **/

@media screen and (max-width: 600px) {
    
    .li
    {
        padding: 10px;
        font-size: 24px;
    }
    .reserv
    {
    position: absolute;
    padding: 1% 0;
    background-color: rgba(255, 255, 255, 0.61);
    width: 40%;
    text-align: center;
    margin: 20% 30%;
    }
}
