@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');

body
{
    background-color: black;
}

#head
{
    display: flex;
    width: 100%;
    height: auto;
    background-color: blue;
}

#logo
{
    width: 100%;
    height: auto;
}

#titre
{
    color: wheat;
    font-size: 60px;
    font-family: 'Metamorphous', cursive; 
    align-content: center;         
}

p
{
    color: white;
    margin: 200px;
    border: 0.7em white double;
    border-radius: 2em;
    padding: 20px;
}